// -------------------------------------------------
//
// Global styles
// 
// -------------------------------------------------


*{
	box-sizing: border-box;
}


::-webkit-scrollbar {
  display: none;
}


html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: $text;
  color: $text;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}



div,section,article{
	display: block;
}

.container{
	width: 100%;
	height: 100%;
  background: $background;
  color: $text;
  overflow: hidden;
  position: fixed !important;
  // overflow-y: auto;
  top: 0;
  left: 0;
  @include perspective(1000);
}

.main-view{
  width: 100%;
  height: 100%;
}

#canvas-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

// -------------------------------------------------
//
// Cursors
// 
// -------------------------------------------------
a{
	cursor: pointer !important;
}

[ng-click]{
    cursor: pointer !important;
}

[ui-sref]{
  cursor: pointer !important;
}


// -------------------------------------------------
//
// Forms
// 
// -------------------------------------------------
:focus {
  outline-color: transparent;
  outline-style: none;
}

@include keyframes(fadeIn){
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@include keyframes(fadeOut){
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
.ng-enter{
  z-index: 9999;
  @include animation(fadeIn 0.2s linear);
}

.ng-leave{
  z-index: 8888;
  @include animation(fadeOut 0.2s linear);
}
