// -------------------------------------------------
//
// Z-Indexes
// 
// -------------------------------------------------


// ------------------------------------------------
// Landing
//

.columns{
	z-index: 1;
}
.main-container{
	z-index: 1;
}

.image-container{
	z-index: 2;
}

.events{
	z-index: 4;
}


#canvas-container{
	z-index: 3;
}


.titles{
	z-index: 99;
}

// ------------------------------------------------
// Bottom Nav
//

nav{
	z-index: 99;
}

// ------------------------------------------------
// Top Nav
//

.top-nav{
	z-index: 9999;
}

// ------------------------------------------------
// Slide Out
//

.open-nav{
	z-index: 99999;
}