// -------------------------------------------------
//
// Z-Indexes
// 
// -------------------------------------------------


// ------------------------------------------------
// Landing
//

.columns{
	z-index: 1;
}
.main-container{
	z-index: 1;
}

.image-container{
	z-index: 2;
}

.events{
	z-index: 4;
}

.top-nav{
	z-index: 9999;
}


#canvas-container{
	z-index: 3;
}
.titles{
	z-index: 99;
}

nav{
	z-index: 99;
}

.open-nav{
	z-index: 99999;
}