// -------------------------------------------------
//
// Z-Indexes
// 
// -------------------------------------------------


// ------------------------------------------------
// Landing
//

.columns{
	z-index: 1;
}
.main-container{
	z-index: 1;
}

.image-container{
	z-index: 2;
}

nav{
	z-index: 99;
}
.events{
	z-index: 4;
}

.top-nav{
	z-index: 9;
}

.admin-nav{
	z-index: 9;
}