.about{
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: block;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	@include fast();
	@include mq("large"){
		overflow-y: hidden;
	}

	.about-container{
		position: relative;
		height: 100%;
		@include mq("large"){
			overflow: hidden;
		}
		.about-title, .about-text{
			width: 90%;
			display: block;
			margin-left: 20px;
			@include mq("medium"){
				width: 80%;
				margin-left: 10%;
			}
			@include mq("large"){
				width: 50%;
				padding: 0 20px;
				float: left;
				display: block;
				margin-left: 0;
			}
		}

		.about-title{
			font-weight: lighter;
			@include uppercase();
			height: auto;
			font-size: 1em;
			line-height: 1;
			display: block;
			margin-top: 100px;
			@include mq("medium"){
				font-size: 2em;
			}
			@include mq("large"){
				@include display(flex);
				@include align-items(center);
				height: 100%;
				margin-top: 0;
				font-size: 2em;
			}

		}
		.about-text{
			position: relative;
			height: auto;
			display: block;
			padding-left: 20px;
			padding-bottom: 100px;
			@include mq("large"){
				margin: 0;
				top: 0;
				overflow: hidden;
				overflow-y: auto;
				height: 100%;
				@include display(flex);
				@include align-items(center);
				padding-bottom: 0;
			}
			p{
				font-weight: lighter;
				font-weight: normal;
				@include mq("medium"){
					font-size: 1.2em;
				}
				@include mq("large"){
					font-size: 1em;
				}
				strong{
					@include uppercase();
				}
				
			}
			ul{
				font-weight: lighter;
				list-style-type: disc;
				li{
					font-weight: lighter;
					margin: 20px 0;
					p{
						font-weight: lighter;
						text-transform: none;
						em{
							font-style: normal;
							border-bottom: 1px solid $key;
						}
					}
				}
			}
		}
	}
}