.contact{
	position: fixed;
	@include fast();
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	.contact-container{
		width: 100%;
		height: 100%;
		position: relative;
		top: 0;
		left: 0;
		display: block;
		margin: 50px 0 200px 0;
		@include mq("medium"){
			@include flex('row');
			margin: 0 0 0 0;
		}
		.contact-person{
			display: block;
			margin: 25px;
			p{
				line-height: 1;
				&.contact-title{
					font-weight: bold;
					display: inline-block;
					@include uppercase();
					border-bottom: 2px solid $background;
				}
				&.contact-email{
					text-transform: lowercase;
					a{
						border-bottom: 0;
						text-decoration: underline;
						color: $key;
					}
				}
			}
		}
	}

}