.contact{
	position: fixed;
	@include fast();
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	.contact-person{
		width: 100%;
		padding-left: 20px;
		height:30%;
		position: relative;
		@include display(flex);
		@include align-items(flex-start);
		@include justify-content(flex-start);
		@include flex-direction(column);
		@include mq("large"){
			@include flex-direction(row);
		}
		margin: 25px 0;
		.contact-title, .contact-details{
			width: 100%;
			height: auto;
			@include mq("large"){
				width: 50%;
				height: 100%;
			}
		}
		.contact-title{
			font-size: 1.5em;
			margin-bottom: 20px;
		}
		.contact-details{
			p{
				margin: 0;
				line-height: 2;
				&:first-child{
					line-height: 1;
					font-weight: bold;
				}
				a{
					border-bottom: 1px solid $key;
				}
			}
		}
		&:first-child{
			margin-top: 100px;
		}
	}

}