.downloads{
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	.project-menu{
		position: relative;
		top: 70px;
		left: 20px;
		z-index: 2;
		@include mq("medium"){
			position: fixed;
			left: 20px;
			top: 100px;
			text-align: left;
			height: auto;
			width: 20%;
			@include fast();
		}
		@include mq("large"){
			position: absolute;
			left: 20px;
			top: 100px;
			text-align: left;
			height: auto;
			width: 20%;
		}
		a{
			color: $key;
			border: none;
			h2{
				font-size: 0.8em;
				border-bottom: 2px solid transparent;
				display: block;
				text-align: left;
				font-weight: lighter;
				margin: 0 5px;
				line-height: 1.5;
				@include uppercase();
				@include mq("medium"){
					font-size: 1em;
				}
				@include mq("large"){
					font-size: 1.5em;
				}
			}
			&.active{
				h2{
					text-decoration: underline;	
				}
			}
		}

	}

	.project-container{
		position: relative;
		width: 90%;
		margin: 100px auto 100px 20px;
		z-index: 2;
		@include mq("medium"){
			position: absolute;
			top: 0;
			right: 20px;
			width: 75%;
			height:auto;
			overflow: hidden;
			top: 100px;
			padding: 0 0 100px 0;
			margin: 0;
			@include display(flex);
			@include flex-direction(column);
			@include align-items(center);
			@include justify-content(center);
		}
		@include mq("large"){
			position: absolute;
			top: 0;
			right: 20px;
			width: 80%;
			height:80%;
			overflow: hidden;
			top: 50px;
			margin: 0;
			padding: 0 20px;
			@include display(flex);
			@include flex-direction(column);
			@include align-items(center);
			@include justify-content(center);
		}
		
		.project-col{
			display: block;
			height: auto;
			position: relative;
			width: 100%;
			margin: 0;
			z-index: 2;
			border: 2px solid black;
			@include mq("large"){
				display: block;
				height: auto;
				position: relative;
				top: 0;
				left: 0;
				overflow: hidden;
				overflow-y: auto;
				color: $text;
				width: 90%;
				margin: 0 5%;
				padding: 50px 0;
				height: 85%;
				display: inline-block;
			}
			.project-title{
				font-size: 2em;
				text-align: left;
				font-weight: bold;
				margin: 10px 5% 20px 5%;
			}
			.data-text{
				margin-left: 5%;
			}
			img{
				max-width: 90%;
				width: 90%;
				height: auto;
				margin-left: 5%;
			}
			pre{
				width: 100%;
				overflow: scroll !important;

				code{
					width: 100%;
					overflow: scroll !important;
					display: block;
				}
			}


			p{
				max-width: 100%;
				font-size: 1em;
				&.abstract{
					font-style: italic;
				}
				.project-header{
					@include uppercase();
					font-size: 1.2em
				}
				strong{
					@include uppercase();
				}
			}

			.software{
				p{
					strong{
						text-transform: none;
					}
				}
			}
			h3{
				font-size: 1em;
				margin-left: 5%;
				font-weight: bold;
				line-height: 1.5;
				max-width: 90%;

			}
			ul{
				font-size: 1em;
				width: 100%;
				line-height: 1.5em;
				list-style-type: none;
				padding-left: 0;
				li{
					margin: 50px 5%;

					a{
						border-bottom: none;
						font-weight: normal;
						color: $key;
						margin: 0 3px;
					}
					.file-download{
						margin: -10px 0 0 0;
						display: inline-block;
						font-family: 'AkkuratMono', 'Inconsolata';
						font-size: 0.8em;
					}
				}
			}
		}
	}
}