// -------------------------------------------------
//
// Event Index Page
// 
// -------------------------------------------------


.events, .news{
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background: $background;
	@include fast();
	&:after{
		content: '';
		display: block;
	}
	.events-container, .news-container{
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		padding: 100px 0;
		margin-bottom: 100px;
		&:after{
			content: '';
			display: block;
		}

		a.event-link-wrapper{
			border-bottom: none;
		}


	}

	.event, .news-item{
		width: 80%;
		display: inline-block;
		float: left;
		height: 400px;
		margin: 5% 10%;
		position: relative;
		text-align: center;
		overflow: hidden;
		@include transition(all .2s ease);
		@include mq("medium"){
			width: 47.6%;
			margin: 1% 1% 1% 1%;
			height: 450px;
		}
		@include mq("large"){
			width: 23.8%;
			margin: 1% 0 1% 1%;
		}

		.event-date-time, .news-date-time{
			font-family: 'AkkuratMono', 'Inconsolata';
			text-align: left;
			margin: 0;
			height: 30px;
			p{
				line-height: 0;
				font-size: 1;
				@include uppercase;
				@include mq("medium"){
					font-size: 0.8em;
				}
			}
		}



		&:last-child{
			margin-bottom: 150px;
		}
		&.loadmore{
			width: 90%;
			margin: 1% 5% 1% 5%;
			height: 100px;
			border: 1px solid transparent;
			h3{
				border-bottom: 2px solid $text;
				font-size: 1em;
			}
			&:hover{
				background: $background;
				color: $text;
			}
			@include mq("large"){
				width: 23.8%;
				margin: 1% 0 1% 1%;
				height: 450px;
			}
			.load-more-wrapper{
				@include display(flex);
				@include flex-direction(column);
				@include align-items(center);
				@include justify-content(center);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			
		}

		.event-inner, .news-inner{
			top: 40px;
			border: 1px solid black;
			position: absolute;
			left: 0;
			width: 100%;
			height: 80%;
			@include mq("medium"){
				height: 90%;
			}
			&:hover{
				background: $key;
				color: $background;
				.event-image, .news-image{
					.event-image-overlay, .news-image-overlay{
						display: block;
					}
				}
				.event-date, .event-more, .news-date, .news-more{
					color: white;
				}
			}
		}
		
		.event-image, .news-image{
			width: 100%;
			height: 125px;
			margin-bottom: 25px;
			background-size: cover !important;
			background-repeat: no-repeat !important;
			background-position: center center !important;
			position: relative;
			@include mq("medium"){
				height: 200px;
			}

			.event-image-overlay, .news-image-overlay{
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0,0,255,0.4);
			}
		}

		.event-title, .news-title{
			margin-top: 25px;
			padding: 0 10px;
			h2{
				font-size: 1.5em;
				font-weight: bold;
				@include uppercase();
			}

		}
		.event-teaser, .news-teaser{
			padding: 0 10px;
			font-size: 0.8em;
		}

		.event-more, .news-more{
			color: $key;
			@include uppercase();
			position: absolute;
			width: 100%;
			bottom: 25px;
			line-height: 1;
			text-align: center;
			font-family: 'Inconsolata';
			display: none;
			@include mq("medium"){
				display: block;
			}
			p{
				line-height: 1;
				margin: 0;
				display: inline-block;
				font-size: 0.8em;
			}
		}
	}
}