// -------------------------------------------------
//
// Event Index Page
// 
// -------------------------------------------------


.events{
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background: $background;
	&:after{
		content: '';
		display: block;
	}
	.events-container{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-top: 100px;
		&:after{
			content: '';
			display: block;
		}

		a.event-link-wrapper{
			border-bottom: none;
		}


	}
	.event{
		width: 90%;
		display: inline-block;
		// float: left;
		height: 450px;
		margin: 1% 5% 1% 5%;
		position: relative;
		text-align: center;
		border: 1px solid black;
		overflow: hidden;
		@include transition(all .2s ease);
		@include mq("large"){
			height: 450px;
		}
		@include mq("medium"){
			width: 47.6%;
			margin: 1% 1% 1% 1%;
		}
		@include mq("large"){
			width: 23.8%;
			margin: 1% 0 1% 1%;
		}
		&.loadmore{
			width: 90%;
			margin: 1% 5% 1% 5%;
			height: 100px;
			border: 1px solid transparent;
			h3{
				border-bottom: 2px solid $text;
				font-size: 1em;
			}
			&:hover{
				background: $background;
				color: $text;
			}
			@include mq("large"){
				width: 23.8%;
				margin: 1% 0 1% 1%;
				height: 450px;
			}
			.load-more-wrapper{
				@include display(flex);
				@include flex-direction(column);
				@include align-items(center);
				@include justify-content(center);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			
		}
		&:hover{
			background: $key;
			color: $background;
			.event-image{
				.event-image-overlay{
					display: block;
				}
			}
			.event-date, .event-more{
				color: white;
			}
			.event-more{
				p{
					&:after{
						content: '';
						display: block;
						width: 100%;
						height: 2px;
						background: white;
						margin: 0;
					}
				}
			}
		}
		
		.event-image{
			width: 100%;
			height: 200px;
			margin-bottom: 25px;
			background-size: cover !important;
			background-repeat: no-repeat !important;
			background-position: center center !important;
			position: relative;
			.event-image-overlay{
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0,0,255,0.4);
			}
		}
		.event-date{
			@include uppercase();
			h3{
				font-size: 1em;
			}
		}

		.event-title{
			margin-top: 25px;
			padding: 0 10px;
			h2{
				font-size: 1.5em;
				font-weight: bold;
			}

		}
		.event-teaser{
			padding: 0 10px;
			font-size: 0.8em;
		}

		.event-more{
			color: $key;
			@include uppercase();
			position: absolute;
			width: 100%;
			bottom: 25px;
			line-height: 1;
			text-align: center;
			p{
				line-height: 1;
				margin: 0;
				display: inline-block;
				font-size: 0.8em;
				&:after{
					content: '';
					display: block;
					width: 100%;
					height: 2px;
					background: $key;
					margin: 0;
				}
			}
		}
	}
}