
// -------------------------------------------------
//
// Top Navigation
// 
// -------------------------------------------------


$topnavheight: 70px;
$adminnavheight: 70px;

.top-nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	color: $key;
	@include fast();
	@include transition(transform .3s linear);
	@include mq("medium"){
		height: $topnavheight;
	}
	@include mq("large"){
		height: 50px;
	}
	&.headroom--unpinned{
		@include transform(translateY(-80px) translateZ(0));
	}
	.nav-logo{
		position: absolute;
		top: 10px;
		left: 20px;
		width: 150px;
		height: 100%;
		background: url(../images/logo-blue.svg);
		background-repeat: no-repeat !important;
		background-position: center center !important;
		background-size: contain !important;
		@include mq("medium"){
			width: 200px;
		}
	}
	.nav-mission{
		width: 100%;
		height: $topnavheight;
		margin-left:50%;
		text-align: left;
		display: none;
		@include mq("large"){
			display: inline-block;
			@include display(flex);
			@include flex-direction(column);
			@include justify-content(center);
		}
		h3{
			line-height: 1.1;
			font-weight: lighter;
			
			@include uppercase();
		}
	}

	.nav-burger{
		position: absolute;
		top: 20px;
		right: 20px;
		background: url(../images/close-black.svg) no-repeat center center;
		width: 25px;
		height: 25px;
		@include transition(transform .5s ease);
		@include transform(rotate(45deg));
		display: block;
		@include mq("medium"){
			width: 35px;
			height: 35px;
		}
		@include mq("large"){
			display: none;
		}
		&.opening{
			@include transform(rotate(0deg));
		}
	}

	.nav-search{
		position: absolute;
		top: 0;
		height: 25px;
		right: 20px;
		width: 200px;
		margin-top: 12.5px;
		border-bottom: 1px solid $text;
		display: none;
		@include mq("large"){
			display: block;
		}
		input{
			height: 25px;
			margin-top: 0;
			outline: none;
			border: none;
			padding: 0;
			line-height: 1;
			display: inline-block;
			border-bottom: 1px solid $text;
			background:transparent;

		}
	}
	.nav-results{
		position: absolute;
		top: 36.5px;
		right: 20px;
		text-align: left;
		height: 200px;
		width: 300px;
		background: $background;
		border: 1px solid $text;
		padding: 10px;
		overflow: hidden;
		overflow-y: scroll;
		@include transition(all .2s ease-out);
		ul{
			li{
				margin: 20px 0;
				font-weight: lighter;
				font-size: 0.8em;
				border-bottom: 2px solid transparent;
				&:hover{
					border-bottom: 2px solid $text;
				}
				a{
					text-decoration: none;
					border: 0;
					display: block;
					width: 100%;
					&:hover{
						border: 0;
					}
					span{
						margin: 0 5px 0 0;
					}
				}
			}
		}
		&.ng-hide{
			height: 0;
		}
	}

}

// -------------------------------------------------
//
// Footer Nav
// 
// -------------------------------------------------

nav{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 80px;
	color: $key;
	display: none;
	border-top: 1px solid $key;
	@include mq("large"){
		@include display(flex);
		@include flex-direction(row);
		@include align-items(center);
		@include justify-content(center);
	}
	&.main-nav{
		border-top: 0;
	}
	&.stick{
		position: absolute;
	}
	&.white{
		ul{
			li{
				a{
					color: $key;

				}
			}
		}
	}
	&.slide{
		background: $background;
		border-top: 1px solid $key;
		color: $key;
		@include transform(translateY(50px) translateZ(0));
		@include transition(transform .3s ease-out);
		.hidden-menu{
			background: url(../images/nav-dots-blue.svg) no-repeat center center;
			background-size: 40%;
			opacity: 1;
			width: 10%;
			height: 30px;
			position: absolute;
			top: 0;
			left: 45%;
			@include transition(opacity .3s ease-out);
		}
		&:hover{
			@include transform(translateY(0) translateZ(0));
			.hidden-menu{
				opacity: 0;
			}
		}
	}
	&.reverse{
		background: $background;
		color: $key;
	}
	ul{
		display: inline-block;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;
		padding: 0;
		@include flex(row);
		li{
			display: inline-block;
			width: 25%;
			font-size: 0.9em;
			text-align: center;
			@include uppercase();
			@include mq("large"){
				font-size: 1.2em;
			}
			a{
				color: $key;
				display: block;
				border-bottom: 0;
				font-weight: normal;
				&:hover{
					text-decoration: underline;
				}
				
			}
		}
	}
}