// -------------------------------------------------
//
// Top Navigation
// 
// -------------------------------------------------


$topnavheight: 50px;

.top-nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $topnavheight;
	background: transparent;
	@include fast();
	.nav-logo{
		position: absolute;
		top: 0;
		left: 20px;
		width: 150px;
		height: 100%;
		background: url(../images/logo.svg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}
	.nav-mission{
		width: 100%;
		height: 100%;
		text-align: center;
		display: none;
		@include mq("large"){
			display: block;
		}
		h4{
			font-weight: lighter;
			@include uppercase();
			line-height: $topnavheight;
		}
	}

	.nav-search{
		position: absolute;
		top: 0;
		height: 25px;
		right: 20px;
		width: 150px;
		margin-top: 12.5px;
		border-bottom: 1px solid $text;
		display: none;
		@include mq("large"){
			display: block;
		}
		input{
			height: 25px;
			margin-top: 0;
			outline: none;
			border: none;
			padding: 0;
			line-height: 1;
			display: inline-block;
			border-bottom: 1px solid $text;

		}
	}
	.nav-results{
		position: absolute;
		top: 36.5px;
		right: 20px;
		text-align: left;
		height: 200px;
		width: 300px;
		background: $background;
		border: 1px solid $text;
		padding: 10px;
		overflow: hidden;
		overflow-y: scroll;
		@include transition(all .2s ease-out);
		ul{
			li{
				margin: 20px 0;
				font-weight: lighter;
				font-size: 0.8em;
				border-bottom: 2px solid transparent;
				&:hover{
					border-bottom: 2px solid $text;
				}
				a{
					text-decoration: none;
					border: 0;
					&:hover{
						border: 0;
					}
					span{
						margin: 0 5px 0 0;
					}
				}
			}
		}
		&.ng-hide{
			height: 0;
		}
	}

}