<div top-nav></div>
<section class="about">
	<div class="about-text">
		<p>The GiantSteps project aims to create the “seven-league boots” for music production in the next decade and beyond. We envision digital musical tools that unleash the creative potential of practitioners by targeting three directions:</p>
		<ul>
			<li>Developing and integrating <strong>musical expert agents</strong>, supportive and inspirational systems for melody, harmony, rhythm, structure or style, providing suggestions from sample to song level, while guiding users when they lack inspiration or technical or musical knowledge. These systems will be based on the latest findings in multimodal music information research (MIR) on symbolic, audio and metadata, as well as on new recommendation strategies for the music production domain.</li>
			
			<li>Developing improved <strong>interfaces</strong> and paradigms for musical human-computer interaction and <strong>collaborative</strong> control of multi-dimensional parameter spaces, leading to intuitive, expressive and tangible input modalities. These interfaces will incorporate novel <strong>visualisation</strong> techniques that provide meaningful and relevant feedback to enable fast comprehensibility for novices and improved workflows for professionals.</li>

			<li>Addressing <strong>low cost portable devices</strong> by developing low complexity algorithms for music analysis and recommendation tailored to their capabilities. This will allow for beyond state of the art music analysis algorithms in <strong>affordable production tools</strong> and Apps that can be easily distributed and accessed by both professionals and amateurs.</li>
		</ul>
	</div>
</section>
<nav-bar display="fixed"></nav-bar>