<div top-nav></div>


<section class="about scroll" nav-color color="white" slide="true">
	<div class="about-container">
		<div class="about-title">
			<p>THE GIANTSTEPS PROJECT AIMS TO CREATE THE “SEVEN-LEAGUE BOOTS” FOR MUSIC PRODUCTION IN THE NEXT DECADE AND
				BEYOND. WE
				ENVISION DIGITAL MUSICAL TOOLS THAT UNLEASH THE CREATIVE POTENTIAL OF PRACTITIONERS BY TARGETING THREE
				DIRECTIONS</p>
		</div>
		<div class="about-text">
			<ul>
				<li>
					<p>Developing and integrating <em>musical expert agents</em>, supportive and inspirational systems for melody,
						harmony,
						rhythm, structure or style, providing suggestions from sample to song level, while guiding users when they
						lack
						inspiration or technical or musical knowledge. These systems will be based on the latest findings in
						multimodal music
						information research (MIR) on symbolic, audio and metadata, as well as on new recommendation strategies for
						the music
						production domain.</p>
				</li>
				<li>
					<p>Developing improved <em>interfaces</em> and paradigms for musical human-computer interaction and
						<em>collaborative</em> control of multi-dimensional parameter spaces, leading to intuitive, expressive and
						tangible
						input modalities. These interfaces will incorporate novel <em>visualisation</em> techniques that provide
						meaningful
						and relevant feedback to enable fast comprehensibility for novices and improved workflows for professionals.
					</p>
				</li>
				<li>
					<p>Addressing <em>low cost portable devices</em> by developing low complexity algorithms for music analysis
						and
						recommendation tailored to their capabilities. This will allow for beyond state of the art music analysis
						algorithms
						in affordable production tools and Apps that can be easily distributed and accessed by both professionals
						and
						amateurs.</p>
				</li>
			</ul>
		</div>
	</div>

</section>