<div admin-nav model-name="newEvent" section-name="Events"></div>
<section class="admin-new-event">

	<!--INPUT-->
	<form name="newEventForm">
		<input type="text" ng-model="newEvent.title" placeholder="Title" required />
		<input type="text" pick-a-date="date" ng-model="newEvent.date" placeholder="Date" required />
		<input type="text" pick-a-time="time" ng-model="newEvent.time" placeholder="Time" required />
		<input type="text" ng-model="newEvent.location" placeholder="City/Country" required/>

		
		<div ng-file-drop ng-file-select ng-model="newEvent.file" class="drop-box" drag-over-class="dragover" accept="image/*" required>Click here or drag and drop image</div>
		
		<div ng-no-file-drop>File Drag/Drop is not supported on this browser</div>



		<div class="new-event-editor" text-angular ta-toolbar="[['bold', 'italics', 'underline'],['insertLink']]" ng-model="newEvent.teaser" required></div>

	</form>

	<!--PREVIEW-->
	<div class="admin-new-event-preview">
		<div class="preview-area">
			<img class="preview-image" ng-src="{{image.url}}" />
			<h2 class="preview-date">{{newEvent.date | date : 'MMMM dd, yyyy'}}</h2>
			<h2 class="preview-location">{{newEvent.location}}</h2>
			<h1 class="preview-title" ng-bind-html="newEvent.title"></h1>
			<div class="preview-paragraph">
				<p ng-bind-html="newEvent.teaser"></p>
			</div>
		</div>
	</div>
</section>