<div admin-new-nav model-name="event" section-name="Edit Event"></div>
<section class="admin-new-event">

	<!--INPUT-->
	<form name="editEventForm">
		<input type="text" ng-model="event.title" placeholder="Title"  />
		<input type="text" ng-model="event.url" placeholder="Dash separated URL (i.e. some-url-you-want)" required />
		<input type="text" pick-a-date="date" ng-model="event.date" placeholder="Date" />
		<input type="text" pick-a-time="time" ng-model="event.time" placeholder="Time"  />
		<input type="text" ng-model="event.location" placeholder="City/Country" />

		
		<div ng-file-drop ng-file-select ng-model="event.file" class="drop-box" drag-over-class="dragover" accept="image/*">Click here or drag and drop image</div>
		
		<div ng-no-file-drop>File Drag/Drop is not supported on this browser</div>



		<div class="new-event-editor" text-angular ta-toolbar="[['bold', 'italics', 'underline'],['insertLink']]" ng-model="event.teaser"></div>

	</form>

	<!--PREVIEW-->
	<div class="admin-new-event-preview">
		<div class="preview-area">
			<img class="preview-image" ng-src="{{event.image}}" />
			<h2 class="preview-date">{{event.date | date : 'MMMM dd, yyyy'}}</h2>
			<h2 class="preview-location">{{event.location}}</h2>
			<h1 class="preview-title" ng-bind-html="event.title"></h1>
			<div class="preview-paragraph">
				<p ng-bind-html="event.teaser"></p>
			</div>
		</div>
	</div>
</section>