<section class="contact">
	<div top-nav></div>

	<div class="contact-container">
		<div class="contact-person">
			<p class="contact-title">COORDINATOR:</p>
			<p class="contact-details">Roman Kaurson</p>
			<p class="contact-details contact-email"><a href="mailto:roman@giantsteps-project.eu">Roman@giantsteps-project.eu</a></p>
			<p class="contact-details">+33 223 271 246</p>
			<p class="contact-details">9, mail de Bourgchevreuil</p>
			<p class="contact-details">35510 Cesson-Sévigné - FRANCE</p>
		</div>
		<div class="contact-person">
			<p class="contact-title">Scientific Coordinator:</p>
			<p class="contact-details">Sergi Jordà</p>
			<p class="contact-details contact-email"><a href="mailto:Firstname.Lastname@upf.edu">Firstname.Lastname@upf.edu</a></p>
			<p class="contact-details">+34 93 5422104</p>
			<p class="contact-details">Roc Boronat, 138 </p>
			<p class="contact-details">08018 Barcelona – SPAIN</p>
		</div>
	</div>

	<nav-bar display="fixed"></nav-bar>

</section>