<div top-nav></div>

<section class="contact" nav-color color="white" slide="true">
	<section class="loading" ng-if="loading" loading></section>

	<div class="contact-person">
		<div class="contact-title">
			<h3>COORDINATOR:</h3>
		</div>
		<div class="contact-details">
			<p>Roman Kaurson</p>
			<p class="contact-email"><a href="mailto:roman@Firstname.Lastname@jcp-connect.com">Roman@giantsteps-project.eu</a></p>
			<p>+33 223 271 246</p>
			<p>9, mail de Bourgchevreuil</p>
			<p>35510 Cesson-Sévigné - FRANCE</p>
		</div>
	</div>

	<div class="contact-person">
		<div class="contact-title">
			<h3>SCIENTIFIC COORDINATOR:</h3>
		</div>
		<div class="contact-details">
			<p>Sergi Jordà</p>
			<p class="contact-email"><a href="mailto:Firstname.Lastname@upf.edu">Firstname.Lastname@upf.edu</a></p>
			<p>+34 93 5422104</p>
			<p>Roc Boronat, 138 </p>
			<p>08018 Barcelona – SPAIN</p>
		</div>
	</div>

</section>