<div top-nav></div>

<section class="downloads scroll" nav-color color="blue">

	<section class="loading" ng-if="loading" loading></section>


	<!--MENU-->
	<div class="project-menu">
		<a ng-class="{active: deliverablesActive}" ng-click="switch('deliverables')">
			<h2>Deliverables</h2>
		</a>
		<a ng-class="{active: publicationsActive}" ng-click="switch('publications')">
			<h2>Publications</h2>
		</a>
		<a ng-class="{active: softwareActive}" ng-click="switch('software')">
			<h2>Software</h2>
		</a>
		<a ng-class="{active: dataActive}" ng-click="switch('data')">
			<h2>Data Sets</h2>
		</a>
	</div>


	<div class="project-container">
		
		<div class="project-col">
			<div ui-view></div>	
		</div>

		
	</div>
</section>
