<view-title>Deliverables</view-title>
<!--DELIVERABLES-->
<div class="deliverables topic">
	<h1 class="project-title">Deliverables</h1>
	<ul class="topic-list">
		<li ng-repeat="del in deliverables">
			<p><strong>{{del.fields.title}}</strong></p>
			<p>{{del.fields.descriptions}}</p>
			<a ng-if="del.fields.download" ng-href="{{del.fields.download.fields.file.url}}" download>
				<p class="file-download">
					<strong><i class="fa fa-cloud-download"></i> Download</strong>
				</p>
			</a>
			<a ng-if="del.fields.externalUrl" ng-href="{{del.fields.externalUrl}}" target="self">
				<p class="file-download">
					<strong><i class="fa fa-eye"></i> View</strong>
				</p>
			</a>
		</li>
	</ul>
</div>