<view-title>{{event.fields.title}}</view-title>

<div top-nav></div>

<section class="event-detail scroll" nav-color color="white" slide="true">
	<section class="loading" ng-if="loading" loading></section>

	<header class="event-detail-header">

		<section class="event-detail-image-container">
			<div class="event-detail-image" ng-style="{background: 'url(' + event.fields.images[0].fields.file.url + ')' }">
				<!-- <div class="event-detail-image-overlay"></div> -->
			</div>
		</section>

		<div class="event-detail-info">
			<h1>{{event.fields.title}}</h1>
			<h2 ng-if="event.fields.dateTime">{{event.fields.dateTime | date : 'EEEE dd MMM yyyy, HH:mm'}}</h2>
			<h2>{{event.fields.cityCountry}}</h2>
			<div class="scroll-down" ng-click="scrollDown()"></div>
		</div>
		<div style="clear: both;"></div>

		
	</header>

	
	



	<div class="event-detail-text">
		<div ng-if="event.fields.text" ng-bind-html="trust(event.fields.text)" wrap-iframes></div>
	</div>
	<div style="clear: both;"></div>

	<ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
		<ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id"></ui-gmap-marker>
	</ui-gmap-google-map>


</section>

