<section class="events">
	<div class="event">
		<div class="event-image">
			<img src="images/flying-lotus.jpg" />
		</div>
		<div class="event-date">
			<h3>April 18th, 2015</h3>
		</div>
		<div class="event-location">
			<h3>Seoul, South Korea</h3>
		</div>
		<div class="event-title">
			<h2>CHI2015 Workshop: Collaborating with Intelligent Machines: Interfaces for Creative Sound</h2>
		</div>
		<div class="event-teaser">
			<p>This workshop brings together researchers, designers and instrument builders to explore how we can reframe the way we design “machines” for creative expression.</p>
		</div>

	</div>
</section>