<section class="main">
  
  <top-nav></top-nav>

  <div class="main-container" id="main-container">
  	
  	<p class="total-msg" id="total-msg" make-intro>STRIDING FORWARD IN ELECTRONIC MUSICAL <span id="creativity-trigger" class="trigger creativity">CREATIVITY</span>, ●●●●●●●●●● <span id="experimentation-trigger" class="trigger experimentation">EXPERIMENTATION</span> AND <span id="performance-trigger" class="trigger performance">PERFORMANCE</span> ●●</p>

  	<p class="creativity-msg topic" id="creativity-msg">STRIDING FORWARD IN ELECTRONIC MUSICAL <span>CREATIVITY</span>, ●●●●●●●●●●●● ●●●●●● ●●●●●●●●</p>

  	<p class="experimentation-msg topic" id="experimentation-msg">STRIDING FORWARD IN ELECTRONIC MUSICAL ●●●●●●●●●●●●, <span>EXPERIMENTATION</span> ●●● ●●●●●●●●</p>

  	<p class="performance-msg topic" id="performance-msg">STRIDING FORWARD IN ELECTRONIC MUSICAL ●●●●●●●●●●●●, ●●●●●●●●●●●● ●●● PERFORMANCE</p>

  </div>


  <nav-bar></nav-bar>
</section>
