<div top-nav></div>

<section class="projects">

	<div class="project-container">
		<div class="project-col">
			<h1 class="project-title">Objectives</h1>

			<p class="project-text">GiantSteps seeks to overcome the limitations of current digital music production tools, to create more powerful, inspirational, collaborative, affordable, user-friendly, and efficient music creation systems. In order to achieve this, there are three scientific and technological objectives to be addressed:</p>

			<p><strong class="project-header">Objective 1: Develop High-Performance and Low-Complexity Methods for Music Analysis and Multimodal Music Information Research</strong></p>

			<p>Extracting musical parameters related to rhythm, tempo, melody, or harmony directly from a digital audio signal plays a central role both in music information research (MIR) and advanced music applications. While in academic research the primary goal is to push the limits of what can theoretically be done, for market-ready products, the priority is on delivering robust solutions that work satisfyingly on the target user’s hardware configuration. The central challenge within this objective is to <strong>develop cutting edge MIR technology while bridging the gap with end users’ requirements</strong> to allow for better integration of research outcomes into real world systems.</p>

			<p>To this end, research into <strong>content-based MIR</strong>, with respect to <strong>description of rhythm, tempo, timbre, harmony, melody, and musical structure</strong> is carried out. In addition, further descriptors useful in the context of music production such as “grooveness” (indicating the likeliness that the beat pattern will evoke rhythmical movement from the listener), “loopability” (indicating how well a sample or a segment thereof is suited to be used in a loop), or “predictability” (as opposed to musical complexity) may be developed. For every descriptor, emphasis is put on high efficiency in terms of:</p>

			<ul>
				<li><strong>Complexity:</strong> With a large application potential for affordable hardware solutions, such as smartphones and tablets, algorithms need to be designed to work on platforms that may offer only limited resources in terms of CPU speed, CPU instructions, and memory. Nevertheless, developed algorithms are expected to extract musical properties <strong>faster than real-time</strong> even in environments scarce of these resources.</li>
				

				<li><strong>Effectiveness:</strong> Even for current algorithms for extraction of musical properties and knowledge there is still room for improvements with the specific use cases in mind. We will develop new and more effective algorithms for meaningful description of music data in the targeted application scenarios. This will be done by focusing not just on the general accuracy of the algorithms, but on their <strong>effectiveness for the tasks potential users will perform</strong> (application and task oriented MIR algorithms).</li>


				<li><strong>Scalability:</strong> In order to allow the <strong>applicability of the developed methods on massive collections of material</strong> (which may range from the millions of sound samples considered normal today to unknown future quantities) easily indexable feature representations will be chosen.</li>
			</ul>

			<p>In addition to the musical information extracted directly from the audio content, <strong>further musical knowledge will be extracted from the richest source of musical context, i.e. the web</strong>. The web contains plenty of music related texts that describe even the most specific musical styles and their characteristics. We tap this knowledge of <strong>semantic music descriptions</strong> by developing new, ontology and domain knowledge driven methods for web-based Music Information Extraction.</p>

			<p><strong>Measurable outcomes will include:</strong></p>

			<ul>
				<li>Improved descriptors for rhythm, tempo, timbre, harmony, and melody.</li>
				<li>Optimized structure detection algorithms.</li>
				<li>Optimized extraction algorithms for low resource platforms.</li>
				<li>Methods for automatically extracting stylistic definitions from semi-structured web sources and mapping of extracted definitions to musical and acoustic properties.</li>
			</ul>

			<p>These outcomes will be measured by evaluating their effectiveness for the tasks they will be included in, as well as testing run-time performance and usage of resources on a variety of hardware configurations and systems. The steps necessary to achieve this objective will be carried out in WP3. The resulting software components and the derived knowledge will be used by the expert and recommendation systems (objective 2) and for visualizing musical properties (objective 3).</p>
		</div>
		<div class="project-col">
			<h1 class="project-title">Work Plan</h1>
		</div>
		<div class="project-col">
			<h1 class="project-title">Partners</h1>
		</div>
		<div class="project-col">
			<h1 class="project-title">Project Stats</h1>
		</div>
	</div>
</section>

<nav-bar display="fixed"></nav-bar>