<div top-nav></div>

<section class="projects">

	<h1>:)</h1>
	<!-- <div class="project-container">
		<div class="project-col">
			<h1 class="project-title">Objectives</h1>
			<p class="project-text">
		</div>
		<div class="project-col">
			<h1 class="project-title">Work Plan</h1>
		</div>
		<div class="project-col">
			<h1 class="project-title">Partners</h1>
		</div>
		<div class="project-col">
			<h1 class="project-title">Project Stats</h1>
		</div>
	</div> -->
</section>

<nav-bar display="fixed"></nav-bar>