<div top-nav color="white"></div>

<section class="publications">
	<!-- <div class="pub-grid">
		<div class="item"></div>
		<div class="item"></div>
		<div class="item"></div>
		<div class="item"></div>
		<div class="item"></div>
		<div class="item"></div>
		<div class="item"></div>
		<div class="item"></div>
		<div class="item"></div>
		<div class="item"></div>
	</div> -->


	<ul class="pub-list">

		<li><h2>2015</h2></li>
		<li ng-repeat="download in downloads2015">
			
			<strong>{{download.fields.title}}</strong>
			/ {{download.fields.author}} /
			<em>{{download.fields.text}}</em>
			<br>

			<a ng-if="download.fields.files.length > 0" ng-href="{{download.fields.files[0].fields.file.url}}" download><img src="images/download.svg" /></a>

			<a ng-if="!download.fields.files.length" ng-href="{{download.fields.externalUrl}}" target="self"><img class="smaller" src="images/paper.svg" /></a>
		</li>

		<li ng-if="downloads2014.length"><h2>2014</h2></li>
		<li ng-repeat="download in downloads2014">
			
			<strong>{{download.fields.title}}</strong>
			/ {{download.fields.author}} /
			<em>{{download.fields.text}}</em>
			<br>

			<a ng-if="download.fields.files.length > 0" ng-href="{{download.fields.files[0].fields.file.url}}" download><img src="images/download.svg" /></a>

			<a ng-if="!download.fields.files.length" ng-href="{{download.fields.externalUrl}}" target="self"><img class="smaller" src="images/paper.svg" /></a>
		</li>
	</ul>
</section>

<nav-bar display="fixed" color="white"></nav-bar>